<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>m3u8 downloader</title>
    <link rel="stylesheet" href="../../css/theme.css"/>
    <link rel="stylesheet" href="m3u8/m3u8.css">
</head>

<body>
<section id="m-app" v-cloak>
    <!--顶部操作提示-->
    <section class="m-p-action g-box" style="">{{tips}}</section>

    <!--文件载入-->
    <section class="m-p-input-container">
        <input type="text" v-model="url" :disabled="downloading" placeholder="请输入 m3u8 链接">
        <br>
        <!--还未开始下载-->
        <template v-if="!downloading">
            <div @click="getM3U8(false)">下载</div>
            <div v-if="!downloading && isSupperStreamWrite" @click="streamDownload(false)">大视频流下载</div>
        </template>
        <div v-else-if="finishNum === rangeDownload.targetSegment && rangeDownload.targetSegment > 0" class="disable">下载完成</div>
        <div v-else @click="togglePause">{{ isPause ? '恢复下载' : '暂停下载' }}</div>
    </section>

    <template v-if="finishList.length > 0">
        <div class="m-p-line"></div>
        <!-- <div class="m-p-retry" v-if="errorNum && downloadIndex >= rangeDownload.targetSegment" @click="retryAll">重新下载错误片段</div> -->
        <div class="m-p-force" v-if="mediaFileList.length && !streamWriter" @click="forceDownload">强制下载现有片段</div>
        <div class="m-p-tips">待下载碎片总量：{{ rangeDownload.targetSegment }}，已下载：{{ finishNum }}，错误：{{ errorNum }}，进度：{{ (finishNum / rangeDownload.targetSegment * 100).toFixed(2) }}%</div>
        <div class="m-p-tips" :class="[errorNum ? 'error-tips' : '']">若某视频碎片下载发生错误，将标记为红色，可点击相应图标进行重试</div>
        <section class="m-p-segment">
            <div class="item" v-for="(item, index) in finishList" :class="[item.status]" :title="item.title" @click="retry(index)">{{ index + 1 }}</div>
        </section>
    </template>
</section>
</body>

<script src="https://liuyao_cool.gitee.io/jslib/vue/vue.min.js"></script>
<script src="m3u8/aes-decryptor.js"></script>
<script src="m3u8/stream-saver.js"></script>
<script src="m3u8/main.js"></script>
<!--<script src="../../js/hm.baidu.js"></script>-->

</html>
